name: 1. Sync M3U Files

on:
  schedule:
    - cron: '0 * * * *' # Corre a la hora en punto (ej: 14:00, 15:00)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  download-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repo
        uses: actions/checkout@v4

      - name: Bajar archivos a sync-m3u
        run: |
          # 1. Creamos la carpeta limpia
          mkdir -p sync-m3u
          
          # 2. Buscamos las URLs
          echo "Buscando archivos m3u/m3u8..."
          curl -s https://api.github.com/repos/abusaeeidx/IPTV-Scraper-Zilla/contents \
          | jq -r '.[] | select(.name | test("\\.(m3u8?)$")) | .download_url' > urls.txt
          
          # 3. Bajamos todo adentro de la carpeta
          while read -r url; do
            [ -z "$url" ] && continue
            filename=$(basename "$url")
            # echo "Bajando $filename..."
            curl -L -s -o "sync-m3u/$filename" "$url"
          done < urls.txt
          
          rm urls.txt

      - name: Commit y Push
        run: |
          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'action@github.com'
          
          # Agregamos solo la carpeta de descarga
          git add sync-m3u/
          
          # Commit solo si hay cambios
          git diff --cached --quiet || (git commit -m "Sync: Descarga de listas m3u" && git push)
